@import url("https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&family=Playwrite+NG+Modern:wght@100..400&display=swap");

.text-romantic {
  font-family: "Playwrite NG Modern", cursive;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-animated {
  transition: 300ms ease-in-out;
}
.btn-animated:hover {
  background: rgb(185 28 28 / var(--tw-text-opacity));
  color: white;
}

.my-message {
  justify-content: end;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  color: white;
}

.other-message {
  justify-content: start;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
}

.messages-section {
  max-height: calc(100vh - 80px);
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
